body{

background-image: url("../media/bg.jpg");
font-size: 15px;
font-family: Verdana;
color: white;
text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

a {
color: #99FF99;
text-decoration: none;

}

footer {


}

.Welcome {
margin-top: 100px;
margin-left: 500px;
margin-right: 500px;
text-align: center;
padding: 10px 50px 50px 30px;

}

footer {
position: fixed;
bottom: 0;
left: 0px;
width:100%;
}

.apresentacao {
	text-align: center;
	margin-left: 500px;
	margin-right: 500px;
	border: 1px solid;
	border: 2px solid;
}